*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Bitter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
      color: #555555;
}

h2{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
 
}

section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}

/*-- css Media cho section --*/
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
}
/*-- css cho header --*/
 header{
   text-align: center;
   background: rgba(117, 190, 233, 1) url("/asset/img/bkg-header.jpg") no-repeat scroll center center ;
   background-size: cover;
   color: white;
   padding: 1px;
 }

 header .container{
   padding-top: 0;
   padding-bottom:  0;
   height: 100%;
 }

 header img{
   display: block;
   margin: 50px auto;
   max-width: 280px !important; /*= important là ưu tiên cao nhất cho css  =*/
 }

 /*-- css cho contact img --*/
 .contact-link {
  background: rgba(0, 0, 0, 0) url("/asset/img/contact-link.png") no-repeat scroll center center;
  width: 150px;
  height: 90px;
  display: block;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  margin: 20px auto;
  opacity: 0.5;
}

.contact-link:hover {
  opacity: 1;
}

li.contact-link-li {
  list-style-type: none;
}
 /*-- End css cho contact img --*/

/*-- css Media cho header --*/
 @media (min-width:768px) {
    header img{
      max-width: 400px !important; /*= important là ưu tiên cao nhất cho css  =*/
      margin: 100px auto;
    }
 }  
/*-- end css Media header --*/

/*-- end css cho header --*/



/*-- css cho đường gạch  --*/
 hr.star-primary {
   padding: 0;
   border: none;
   border-top: solid 5px;
   text-align: center;
   max-width: 250px;
   margin: 25px auto 50px;
   border-color: #75bee9;
 }

 hr.star-primary::after{
   font-family: FontAwesome;
   display: inline-block;
   position: relative;
   top: -0.8em;
   font-size: 2em;
   padding: 0 0.25em;
   background-color: white;
   color: #75bee9;
 }
/*-- end css cho đường gạch --*/

/*-- css cho Portfolio --*/
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(117, 190, 233, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

#portfolio * {
  z-index: 2;
}
/*-- css Media cho Portfolio--*/
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/*-- end css cho media Portfolio --*/

/*-- end css cho portfolio  --*/


/*-- css cho hình ảnh bị ẩn --*/
 .img-centered {
  margin: 0 auto;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
/*-- dấu x trên cùng bên phải --*/
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

